{% extends 'base.html' %}
{% block content %}
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">About page</h2>
            
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <h4>Welcome to MEDICAL</h4>
            </header>
            <div class="card-body">
                <h5 class="card-title">About content</h5>
                <div class="mt-4">
                    <div class="text-muted font-size-14">
                        <p>Welcome to our website dedicated to the revolutionary Chinese Herbal Medicine Classification System, powered by cutting-edge deep learning technology. This innovative system represents a significant leap forward in the field of traditional Chinese medicine, enhancing the way we understand, categorize, and utilize herbal remedies.

                            Our Mission
                            
                            At the intersection of ancient wisdom and modern technology, our mission is to bridge the gap between traditional Chinese medicine and contemporary scientific advances. Our team of experts, including herbalists, data scientists, and machine learning engineers, has collaborated tirelessly to create a comprehensive and accurate classification system for Chinese herbal medicine.
                            
                            The Power of Deep Learning
                            
                            Deep learning, a subset of artificial intelligence, has revolutionized various industries, and traditional medicine is no exception. Our system harnesses the power of deep learning algorithms to analyze vast amounts of historical herbal data, identifying intricate patterns, relationships, and properties that were previously elusive to human observation. By processing this data, our system provides a more refined and systematic approach to understanding the effects and applications of different herbs.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- card end// -->
    </section>
{% endblock %}